<div class="row"> 
    <div class="col-md-12"> 
        <header> 
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
            <div class="jumbotron text-center">
                <p>Your hourly rate is <span class="numbers">$<%= "%.2f" % @hourly %></span> hr.</p> 
                <p>Based on $<%= @salary.salary.to_s.reverse.scan(/\d{1,3}/).join(",").reverse %> a year.</p>
            </div>
        </header>
    </div>
</div>