<div class="row"> 
  <div class="col-md-12">  
    <header> 
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
      <h1>Enter Your Yearly Salary</h1>
      <%= form_for @salary, html: {class: "form-inline"} do |f| %>
        <%= f.text_field :salary, class: "form-control" %>
        <%= f.submit "Submit", class: "btn btn-danger" %>
      <% end %>
    </header>
  </div>
</div> 