// Place all the styles related to the Salaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Metamorphous|Merriweather);

body {
    
    padding: 0px;
    margin: 0px;
}
header {
    
    
    background-image: url(asset-path('132H.jpg')); 
    height: 100vh;
    background-size: cover;
    background-position:center;
   
     
    
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif,  sans-serif;
    color: #fff;
     
    
    h1{
        font-size: 300%;
        text-shadow: 2px 2px 7px #000;
    }
    
    
    p{
       font-size: 205%;
       color: #fff;
       text-shadow: 2px 2px 7px #000;
        
       margin-top: -25px;
       
        
    }
    
   // .home {
        
        //margin-top: -55px;
   // }
}